{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    {% block styles%}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% endblock styles %}
    <title>GALLERY</title>
</head>
<body>
    {% include 'navbar.html'%}
    {% block content%}

    {% endblock content%}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../static/Js/script.js"></script>
     {% bootstrap_javascript %}
    {% endblock scripts%}
</body>
</html>