{% extends 'base.html' %}
{% block content%}
<div class="container-fluid" id="home">
    <div class="row mb-3">
        <div class="container">
            <div class="col-md-12">
                <p id="paragraph1">
                    what is a gallery to you? Have a look...
                </p>

                <form class="" role="search" action="{% url 'search_results' %}">
                    <input class="form-control mr-sm-4" type="search" placeholder="Search for image with our categories"
                        aria-label="Search" name="search">
                    <br>
                    <div class="d-flex justify-content-end">
                        <button class="btn shadow btn-outline-warning my-2 my-sm-0" type="submit">Search
                            Image</button>
                    </div>
                </form>
                <p id="trend">our Trending categories
                    <mark>Travel</mark>
                    <mark>Food</mark>
                    <mark>Artists</mark>
                    <mark>Cars</mark>
                    <mark>Gadgets</mark>
                    <mark>Wallpapers</mark>
                    <mark>Animals</mark>
                    <mark>Planets</mark>
                    <mark>Technology</mark>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active bg-warning font-weight-bold" aria-current="true">Locations</li>
                {% for location in locations%}
                <a href="{% url 'location' location.id %}">
                    <li class="list-group-item text-center list-group-item-action">{{location.location}}</li>
                </a>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-9">
            <p id="title">Sample Images</p>
            <div class="row row-cols-1 row-cols-md-3">
                {% for image in templateimages %}
                <a href="{{ image.id }}" data-toggle="modal" data-target="#exampleModal{{image.id}}"
                    data-target="#staticBackdrop">
                    <div class="col mb-4">
                        <div class="card">
                            <img src="{{image.image.url}}" class="card-img-top" alt="Image">
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% for image in templateimages %}
            <!-- modal -->
            <div class="modal fade" id="exampleModal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{image.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"id="modal-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <img src="{{image.image.url}}" class="img-fluid" alt="Image">
                                </div>
                                <div class="col-md-3">
                                    <h4 class="desc"><i class="fa-solid fa-location-pin"></i> Location</h4>
                                    <p id="loc">{{image.location}}</p>
                                    <h4 class="desc"> <i class="fa-solid fa-share-nodes"></i> Image Category</h4>
                                    <p id="cat">{{image.category}}</p>
                                    <h4 class="desc"><i class="fa-solid fa-calendar-day"></i> Date Uploaded</h4>
                                    <p id="date">{{image.date_of_upload}}</p>
                                </div>
                            </div>
                            <div class="row" id="center">
                                <p class="text-white"><i class="fa-solid fa-info"></i> {{image.description}}</p>
                            </div>
                        </div>
                        <div class="modal-footer" id="footer">

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" value="{{image.image.url}}"
                                    aria-describedby="basic-addon2" readonly id="input">
                                <div class="input-group-append">
                                    <button class="btn btn-warning" type="button" value="{{image.image.url}}" id="copy"
                                        onclick="copyFunction()"><i class="fa-solid fa-copy"></i> Copy Image
                                        Link</button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-primary fw-bold"
                                    data-dismiss="modal">Close</button>

                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content%}