{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if all_categories%}
    {% for category in all_categories %}
  <li><a href="/search/?search={{ category.category }}">{{ category.category }}</a></li>
  {% endfor %}
  {% else %}
    <p>No Categories at the Moments</p>
  {% endif %}

  </div>

  <div class="row">
    <div class="row">
        {% if images%}
        <h2>Found {{ images|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 images for the search term {{message}}</h2>
        {% endif %}

    </div>

    {% if images %}
    {% for image in images %}
    <div class=" col-md-4">
        <img src="{{image.image.url}}" class="img-responsive" alt="Image" height="300px"width="100%">
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}