{%extends 'base.html'%}
{% block content %}
<div class="container-fluid" id="home-search">
    <p class="search-title">Search Results</p>
    <div class="row">
        {% if images%}
        <h2 class="search-title">Found {{ images|length }} images related in this category: {{message}}</h2>
        {% else %}
        <h2 class="search-title"> Found 0 images in this category{{message}}</h2>
        {% endif %}
        <div class="row d-flex justify-content-around">
            <div class="col-md-12">
                <div class="row row-cols-1 row-cols-md-3" id="row-modal">
                    {% if images %}
                    {% for image in images %}
                    <a href="{{ image.id }}" data-toggle="modal" data-target="#exampleModal{{image.id}}"
                        data-target="#staticBackdrop">
                        <div class="col mb-4">
                            <div class="card">
                                <img src="{{image.image.url}}" class="card-img-top" alt="Image">
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>

                {% for image in images %}
                <!-- modal -->
                <div class="modal fade " id="exampleModal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" id="modal-fade">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{image.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="mod-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <img src="{{image.image.url}}" class="img-fluid" alt="Image">
                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="desc-mod">Location</h4>
                                        <p class="text-mod">{{image.location}}</p>
                                        <h4 class="desc-mod">Category</h4>
                                        <p class="text-mod">{{image.category}}</p>
                                        <h4 class="desc-mod">Date Created</h4>
                                        <p class="text-mod">{{image.date_of_upload}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" id="footer">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" value="{{image.image.url}}"
                                        aria-describedby="basic-addon2" readonly id="input">
                                    <div class="input-group-append">
                                        <button class="btn btn-warning" type="button" value="{{image.image.url}}"
                                            id="copy" onclick="copyFunction()"><i class="fa-solid fa-copy"></i> Copy
                                            Image Link</button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-outline-primary fw-bold"
                                    data-dismiss="modal">Close</button>
                            </div>

                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% endblock %}