@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

*{
    font-family: 'Delius Swash Caps', cursive;
}
#home{
    background: #000;

}
#paragraph1{
    color: #fff;
    font-size: 7vh;
    font-weight: bold;
    text-align: center;
}

#paragraph1:hover{
    color:#F9F871;
}
#trend{
    color: #F9F871;
    font-size: 3vh;
    margin-top: 2%;
}
#trend mark{
    
    margin-left:1%;
    background-color: transparent;
    outline: 1px solid #F9F871;
    color:#fff;

}
#trend mark:hover{
    outline:2px solid #d18a27;
    background: #412728;
    border-radius: 4px;
}