@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

*{
    font-family: 'Delius Swash Caps', cursive;
}
#home{
    background: #000;

}
#paragraph1{
    color: #fff;
    font-size: 7vh;
    font-weight: bold;
    text-align: center;
}

#paragraph1:hover{
    color:#F9F871;
}
#trend{
    color: #F9F871;
    font-size: 3vh;
}